@import url('https://fonts.cdnfonts.com/css/devil-breeze');
@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/bimbo');



#conatiner3d{
  position: fixed;
  inset: 0;
  /* background-color: red; */
  z-index: 100;

  pointer-events: none;

}
